<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - BankingSystem</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/plugins/admin-lte/css/adminlte.min.css"/>
    <link rel="stylesheet" href="~/plugins/fontawesome-free/css/all.min.css">
</head>
<body>
<div class="wrapper">
    <main>
        @RenderBody()
    </main>
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/plugins/admin-lte/js/adminlte.min.js"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>