@using BankingSystem.Models
@model dynamic

@{
    ViewBag.Title = "Bank Operations";
    Layout = "BankLayout";
}

<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Dashboard</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item">
                        <a href="#">Home</a>
                    </li>
                    <li class="breadcrumb-item active">Dashboard</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <a asp-controller="Customers" asp-action="ManageIndividuals">
                    <div class="info-box">
                        <span class="info-box-icon bg-info">
                            <i class="fas fa-user"></i>
                        </span>
                        <div class="info-box-content">
                            <span class="info-box-text text-decoration-none">Manage Individuals</span>
                        </div>
                    </div>
                </a>

                <a asp-controller="Employees" asp-action="EmployeeSelfRegister">
                    <div class="info-box">
                        <span class="info-box-icon bg-info">
                            <i class="fas fa-user"></i>
                        </span>
                        <div class="info-box-content">
                            <span class="info-box-text text-decoration-none">Self-Employee Registration</span>
                        </div>
                    </div>
                </a>

                <a asp-controller="Employees" asp-action="CreateEmployee">
                    <div class="info-box">
                        <span class="info-box-icon bg-info">
                            <i class="fas fa-user"></i>
                        </span>
                        <div class="info-box-content">
                            <span class="info-box-text text-decoration-none">Employee Registration Form</span>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-6">
                <a asp-controller="Customers" asp-action="ManageOrganizations">
                    <div class="info-box">
                        <span class="info-box-icon bg-info">
                            <i class="fas fa-user-friends"></i>
                        </span>
                        <div class="info-box-content">
                            <span class="info-box-text text-decoration-none">Manage Organizations</span>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-lg-6">
                <a asp-controller="FixedDeposits" asp-action="Index">
                    <div class="info-box">
                        <span class="info-box-icon bg-info">
                            <i class="fas fa-money-check"></i>
                        </span>
                        <div class="info-box-content">
                            <span class="info-box-text text-decoration-none">Fixed Deposits</span>
                        </div>
                    </div>
                </a>
            </div>
            
            <div class="col-lg-6">
                <a asp-controller="Reports" asp-action="BranchReport">
                    <div class="info-box">
                        <span class="info-box-icon bg-info">
                            <i class="far fa-file-alt"></i>
                        </span>
                        <div class="info-box-content">
                            <span class="info-box-text text-decoration-none">Branch Transaction Report</span>
                        </div>
                    </div>
                </a>
            </div>
            
            @if (User.IsInRole(UserType.Manager.ToString()))
            {
                <div class="col-lg-6">
                    <a asp-controller="Reports" asp-action="LoanReport">
                        <div class="info-box">
                            <span class="info-box-icon bg-info">
                                <i class="far fa-file-alt"></i>
                            </span>
                            <div class="info-box-content">
                                <span class="info-box-text text-decoration-none">Late Loan Installment Report</span>
                            </div>
                        </div>
                    </a>
                </div>
            }
            
        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
</div>