@model FinalizeSelfRegisterViewModel

@{
    ViewBag.Title = "Customer Self Register";
    Layout = "Layout";
}

<div class="register-page">
    <div class="register-box">
        <div class="card card-outline card-primary">
            <div class="card-header text-center">
                <a href="../../index2.html" class="h1"><b>Admin</b>LTE</a>
            </div>
            <div class="card-body">
                <p class="login-box-msg">OTP and Registration Form</p>
                <p class="card-text">An OTP has been sent to the mobile number you submitted in your KYC form.</p>
    
                <form action="CustomerFinalizeSelfRegister" method="post">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Enter OTP" name="otp" required>
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-key"></span>
                            </div>
                        </div>
                    </div>
                    
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Username" name="username" required>
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-user"></span>
                            </div>
                        </div>
                    </div>
                    
                    <div class="input-group mb-3">
                        <input type="password" class="form-control" placeholder="Password" name="password" required>
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
    
                    <div class="input-group mb-3">
                        <input type="password" class="form-control" placeholder="Confirm Password" name="confirmPassword" required>
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
    
                    <button type="submit" class="btn btn-primary btn-block">Submit</button>
                </form>
    
                <div class="social-auth-links text-center">
                    <!-- You can add social login buttons here if needed -->
                </div>
            </div>
            <!-- /.form-box -->
        </div><!-- /.card -->
    </div>
    <!-- /.register-box -->
</div>
