@model LoginViewModel

@{
    ViewBag.Title = "Login";
    Layout = "Layout";
}
<div class="login-page" style="min-height: 464px;">
    <div class="login-box">

        <div class="card card-outline card-primary">
            <div class="card-header text-center">
                <a href="/" class="h1"><b>Bank</b> A</a>
            </div>
            <div class="card-body">
                <p class="login-box-msg">Sign in to start your session</p>
                <form asp-action="Login" asp-controller="Account" method="post">
                    <div class="input-group mb-3">
                        <input asp-for="Username" class="form-control" placeholder="Username">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-user"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input type="password" asp-for="Password" class="form-control" placeholder="Password">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <div class="icheck-primary">
                                <input type="checkbox" asp-for="RememberMe" id="remember">
                                <label for="remember">
                                    Remember Me
                                </label>
                            </div>
                        </div>

                        <div class="col-4">
                            <button type="submit" class="btn btn-primary btn-block">Sign In</button>
                        </div>
                        </div>
                </form>

                <p class="my-2">
                    <a asp-action="CustomerSelfRegister">Self Register</a>
                </p>
                
                <p class="mb-1">
                    <a href="https://adminlte.io/themes/v3/pages/examples/forgot-password.html">Forgot Password</a>
                </p>
                
            </div>

        </div>

    </div>
</div>