@model dynamic

@{
    ViewBag.Title = "Organization Info";
    Layout = "BankLayout";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>@ViewBag.Title</h1>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>