@model dynamic

@{
    ViewBag.Title = "New Individual Customer";
    Layout = "_Layout";
}

<h2>Individual Customer Form</h2>
<div>
    <form action="" method="POST">
        <div class="mb-4">
            <h3 class="text-decoration-underline">Personal Information</h3><div class="form-group my-2 col-4">
                <label for="NIC">NIC<span class="text-danger">*</span></label>
                <div class="input-group">
                    <input type="text" class="form-control" id="NIC" name="NIC" value="@Model" disabled>
                </div>
            </div>
            <div class="row">
                <div class="form-group my-2 col-6">
                    <label for="FirstName">First Name<span class="text-danger">*</span></label>
                    <input type="text" class="form-control" id="FirstName" name="FirstName" required>
                </div>
            </div>
            <div class="form-group my-2 col-6">
                <label for="LastName">Last Name<span class="text-danger">*</span></label>
                <input type="text" class="form-control" id="LastName" name="LastName" required>
            </div>
            <div class="row">
                <div class="form-group my-2 col-4">
                    <label for="DateOfBirth">Date of Birth<span class="text-danger">*</span></label>
                    <input type="date" class="form-control" id="DateOfBirth" name="DateOfBirth" required>
                </div>
                <div class="form-group my-2 col-4">
                    <div>Gender<span class="text-danger">*</span></div>
                    <div class="form-check form-check-inline my-2">
                        <input id="gender-male" type="radio" class="form-check-input" value="Male" name="Gender">
                        <label for="gender-male" class="form-check-label">Male</label>
                    </div>
                    <div class="form-check form-check-inline my-2">
                        <input id="gender-female" type="radio" class="form-check-input" value="Female" name="Gender">
                        <label for="gender-female" class="form-check-label">Female</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="mb-4">
            <h3 class="text-decoration-underline">Bank Services</h3>
            <div class="form-check form-check-inline my-2">
                <input type="checkbox" class="form-check-input" id="OnlineBanking" name="OnlineBanking">
                <label for="OnlineBanking" class="form-check-label">Online Banking (Email Required)</label>
            </div>
            <div class="form-check form-check-inline my-2">
                <input type="checkbox" class="form-check-input" id="DebitCard" name="DebitCard">
                <label for="OnlineBanking" class="form-check-label">Debit Card</label>
            </div>
        </div>
        <div class="mb-4">
            <h3 class="text-decoration-underline">Contact Information</h3>
            <div class="row">
                <div class="col-4 form-group my-2">
                    <label for="Email">Email</label>
                    <input type="text" class="form-control" id="Email" name="Email">
                </div>
            </div>
            <div class="row">
                <div class="col-2 form-group my-2">
                    <label for="Mobile">Mobile Phone Number <span class="text-danger">*</span></label>
                    <input type="text" class="form-control" id="Mobile" name="Mobile" required>
                </div>
                <div class="col-2 form-group my-2">
                    <label for="Home">Home Phone Number</label>
                    <input type="text" class="form-control" id="Home" name="Home">
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="form-group my-2 col-4">
                        <label for="Line1">Address Line 1<span class="text-danger">*</span></label>
                        <input type="text" class="form-control" id="Line1" name="Address" required>
                    </div>
                    <div class="form-group my-2 col-4">
                        <label for="Line2">Address Line 2<span class="text-danger">*</span></label>
                        <input type="text" class="form-control" id="Line2" name="Address" required>
                    </div>
                    <div class="form-group my-2 col-4">
                        <label for="City">City</label>
                        <input type="text" class="form-control" id="City" name="City" required>
                    </div>
                </div>
            </div>
        </div>

        
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <script>
        // disable all inputs except NIC
        $("input").prop("disabled", true);
        $("#NIC").prop("disabled", false);
        
    </script>
</div>