@model dynamic

@{
    ViewBag.Title = "Bank Operations";
    Layout = "_Layout";
}

<h2>Bank Operations</h2>
<div class="my-2">
    <a asp-action="Individuals" class="link-primary">Individuals</a>
</div>