@model BankingSystem.ViewModels.TransferViewModel

@{
    ViewBag.Title = "Add New tranfer";
    Layout = "BankLayout";
}

<div class="row">
    <div class="col-md-6">
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">Transfer Money</h3>
            </div>
            <div class="card-body">
                <form asp-action="Transfer" method="post">
                    <div class="form-group">
                        <label asp-for="SenderAccountId">Sender Account</label>
                        <select asp-for="SenderAccountId" asp-items="Model.SenderAccounts" class="form-control"></select>
                    </div>

                    <div class="form-group">
                        <label asp-for="RecipientAccountId">Recipient Account</label>
                        <input asp-for="RecipientAccountId" class="form-control" />
                    </div>

                    <div class="form-group">
                        <label asp-for="Amount">Amount</label>
                        <input asp-for="Amount" class="form-control" />
                    </div>

                    <div class="form-group">
                        <label asp-for="Reference">Reference</label>
                        <input asp-for="Reference" class="form-control" />
                    </div>

                    <button type="submit" class="btn btn-primary">Transfer</button>
                </form>
            </div>
        </div>
    </div>
</div>
